[Unit]
Description=Gunicorn server for 150.158.212.247

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/150.158.212.247/source
ExecStart=/home/ubuntu/sites/150.158.212.247/virtualenv/bin/gunicorn --bind unix:/tmp/150.158.212.247.socket superlist.wsgi:application

[Install]
WantedBy=multi-user.target